<div id="addMedicineImportFormId" class="form bg-light rounded-3 d-flex gap-3 flex-column p-5 d-none" style="border: 2px solid var(--main)">
    <span id="closeAddMedicineImportFormId" class="text-danger fw-bold fs-4 pointer" style="position: absolute; top: 5px; right: 20px">x</span>
    <h3 class="text-center">اضافة صرفية دواء</h3>

    <div class="d-flex flex-column gap-1">
        <label for="addMedicineImportDoctorNameInputId" style="color: var(--sub)">اسم الدكتور *</label>
        <input id="addMedicineImportDoctorNameInputId" type="text" class="px-1 bg-transparent text-dark" style="border-bottom: 2px solid var(--main)" />
    </div>

    <div class="d-flex flex-column gap-1">
        <label for="addMedicineImportTimestampInputId" style="color: var(--sub)">التاريخ والوقت *</label>
        <input id="addMedicineImportTimestampInputId" type="date" class="px-1 bg-transparent text-dark" style="border-bottom: 2px solid var(--main)" />
    </div>

    <button id="submitAddMedicineImportButtonId" class="fw-bold py-2 fs-5 mx-auto mt-3 px-5 rounded border-0 text-light" style="background: var(--main); width: max-content">أضافة</button>
</div>