<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>الدواء</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/bootstrap-icons.css" />
    <link rel="stylesheet" href="/css/docs.css" />
    <link rel="stylesheet" href="/css/main.css" />
    
  </head>
  <body style="position: relative">

    <%- include("../../common/views/navbar.view.ejs") %>

    <div id="addMedicineFormId" class="form bg-light rounded-3 d-flex gap-3 flex-column p-5 d-none" style="border: 2px solid var(--main);">
      <span id="closeAddMedicineFormId" class="text-danger fw-bold fs-4 pointer" style="position: absolute; top: 5px; right: 20px;">x</span>
      <h3 class="text-center">اضافة دواء</h3>

      <div class="d-flex flex-column gap-1">
        <label for="addMedicineNameInputId" style="color: var(--sub);">اسم الدواء</label>
        <input id="addMedicineNameInputId" type="text" class="px-2 bg-transparent text-dark" style="border-bottom: 2px solid var(--main);">
      </div>

      <div class="d-flex flex-column gap-1">
        <label for="addMedicineExpiresAtInputId" style="color: var(--sub);">تاريخ الانتهاء</label>
        <input id="addMedicineExpiresAtInputId" type="date" class="px-2 bg-transparent text-dark" style="border-bottom: 2px solid var(--main);">
      </div>

      <div class="d-flex flex-column gap-1">
        <label for="addMedicineUnitSelectId" style="color: var(--sub);">وحدة القياس</label>
        <select id="addMedicineUnitSelectId" class="px-2 bg-transparent text-dark" style="border-bottom: 2px solid var(--main); outline: none;"></select>
      </div>

      <div class="d-flex flex-column gap-1">
        <label for="addMedicineCategorySelectId" style="color: var(--sub);">التصنيف</label>
        <select id="addMedicineCategorySelectId" class="px-2 bg-transparent text-dark" style="border-bottom: 2px solid var(--main); outline: none;"></select>
      </div>

      <button id="submitAddMedicineButtonId" class="fw-bold py-2f fs-5 mx-auto mt-3 px-5 rounded border-0 text-light" style="background: var(--main); width: max-content;">أضافة</button>
    </div>

    <div id="updateMedicineFormId" class="form bg-light rounded-3 d-flex gap-3 flex-column p-5 d-none" style="border: 2px solid var(--main);">
      <span id="closeUpdateMedicineFormId" class="text-danger fw-bold fs-4 pointer" style="position: absolute; top: 5px; right: 20px;">x</span>
      <h3 class="text-center">تعديل دواء</h3>

      <div class="d-flex flex-column gap-1">
        <label for="updateMedicineNameInputId" style="color: var(--sub);">اسم الدواء</label>
        <input id="updateMedicineNameInputId" type="text" class="px-2 bg-transparent text-dark" style="border-bottom: 2px solid var(--main);">
      </div>

      <div class="d-flex flex-column gap-1">
        <label for="updateMedicineExpiresAtInputId" style="color: var(--sub);">تاريخ الانتهاء</label>
        <input id="updateMedicineExpiresAtInputId" type="date" class="px-2 bg-transparent text-dark" style="border-bottom: 2px solid var(--main);">
      </div>

      <div class="d-flex flex-column gap-1">
        <label for="updateMedicineUnitSelectId" style="color: var(--sub);">وحدة القياس</label>
        <select id="updateMedicineUnitSelectId" class="px-2 bg-transparent text-dark" style="border-bottom: 2px solid var(--main); outline: none;"></select>
      </div>

      <div class="d-flex flex-column gap-1">
        <label for="updateMedicineCategorySelectId" style="color: var(--sub);">التصنيف</label>
        <select id="updateMedicineCategorySelectId" class="px-2 bg-transparent text-dark" style="border-bottom: 2px solid var(--main); outline: none;"></select>
      </div>

      <span id="updateMedicineIdSpanId" class="d-none"></span>
      <button id="submitUpdateMedicineButtonId" class="fw-bold py-2f fs-5 mx-auto mt-3 px-5 rounded border-0 text-light" style="background: var(--main); width: max-content;">حفظ</button>
    </div>

    <div id="overlayDivId" class="overlay d-none"></div>

    <div class="container-lg">
      <div class="w-100 h-100 p-3 rounded" style="background: rgb(228 220 220 / 80%);">
        
        <div class="mb-2 d-flex align-items-center justify-content-between">
          <h5>بيانات الدواء</h5>
          <div>
            <input id="medicineSearchInputId" type="search" placeholder="ابحث بالاسم" class="bg-light rounded px-2 py-1" style="border: 1px solid var(--main);font-size: 16px;">
            <select id="categorySelectId" class="me-2 py-1 rounded fw-bold" style="border: 1px solid var(--main); color: var(--main); font-size: 18px"></select>
          </div>
          <div>
            <button id="printButtonId" class="px-4 py-1 rounded fw-bold" style="border: 1px solid var(--main); color: var(--main); font-size: 18px;">طباعة</button>
            <button id="addNewMedicineButtonId" class="px-4 py-1 rounded fw-bold" style="border: 1px solid var(--main); color: var(--main); font-size: 18px;">اضافة</button>
          </div>
        </div>

        <div style="max-height: 70vh; overflow-y: scroll; direction: ltr;">
          <table class="table table-hover table-rounded d-rtl text-center mb-0" style="background: rgb(255 254 254 / 31%);">
            <thead class="fw-bold text-light" style="background: var(--sub); position: sticky; top: -1px;">
              <tr>
                <td>اسم الدواء</td>
                <td>التصنيف</td>
                <td>تاريخ الانتهاء</td>
                <td>المصروف</td>
                <td>المستهلك</td>
                <td>المتاح</td>
                <td></td>
              </tr>
            </thead>
            <tbody id="medicineTableBodyId" class="bg-light"></tbody>
          </table>
        </div>  
      </div>
    </div>

    <script src="/js/axios.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/select.options.js"></script>
    <script src="/js/utils.js"></script>
    <script src="/js/medicine.js"></script>

  </body>
</html>
