<div id="updateMedicineImportItemFormId" class="form bg-light rounded-3 d-flex gap-3 flex-column p-5 d-none" style="border: 2px solid var(--main)">
    <span id="closeUpdateMedicineImportItemFormId" class="text-danger fw-bold fs-4 pointer" style="position: absolute; top: 5px; right: 20px">x</span>
    <h3 class="text-center">تعديل دواء في الصرفية</h3>

    <div class="d-flex flex-column gap-1">
        <label for="updateMedicineImportItemCategorySelectId" style="color: var(--sub)">التصنيف *</label>
        <select id="updateMedicineImportItemCategorySelectId" class="px-1 bg-transparent text-dark" style="border-bottom: 2px solid var(--main); outline: none"></select>
    </div>

    <div class="d-flex flex-column gap-1">
        <label for="updateMedicineImportItemMedicineSelectId" style="color: var(--sub)">الدواء *</label>
        <select id="updateMedicineImportItemMedicineSelectId" class="px-1 bg-transparent text-dark" style="border-bottom: 2px solid var(--main); outline: none"></select>
    </div>

    <div class="d-flex flex-column gap-1">
        <label for="updateMedicineImportItemAmountInputId" style="color: var(--sub)">الكمية *</label>
        <input id="updateMedicineImportItemAmountInputId" type="number" min="1" class="px-1 bg-transparent text-dark" style="border-bottom: 2px solid var(--main)" />
    </div>

    <span id="updateMedicineImportItemIdSpanId" class="d-none"></span>
    <button id="submitUpdateMedicineImportItemButtonId" class="fw-bold py-2 fs-5 mx-auto mt-3 px-5 rounded border-0 text-light" style="background: var(--main); width: max-content">أضافة</button>
</div>