<div id="addPatientFormId" class="form bg-light rounded-3 d-flex gap-3 flex-column p-5 d-none" style="border: 2px solid var(--main)">
    <span id="closeAddPatientFormId" class="text-danger fw-bold fs-4 pointer" style="position: absolute; top: 5px; right: 20px">x</span>
    <h3 class="text-center">اضافة مريض</h3>

    <div class="d-flex flex-column gap-1">
        <label for="addPatientNameInputId" style="color: var(--sub)">اسم المريض *</label>
        <input id="addPatientNameInputId" type="text" class="px-1 bg-transparent text-dark" style="border-bottom: 2px solid var(--main)" />
    </div>

    <div class="d-flex flex-column gap-1">
        <label for="addPatientMIDInputId" style="color: var(--sub)">الرقم العسكري</label>
        <input id="addPatientMIDInputId" type="text" class="px-1 bg-transparent text-dark" style="border-bottom: 2px solid var(--main)" />
    </div>

    <div class="d-flex flex-column gap-1">
        <label for="addPatientDegreeSelectId" style="color: var(--sub)">الدرجة *</label>
        <select id="addPatientDegreeSelectId" type="date" class="px-1 bg-transparent text-dark" style="border-bottom: 2px solid var(--main); outline: none"></select>
    </div>

    <button id="submitAddPatientButtonId" class="fw-bold py-2 fs-5 mx-auto mt-3 px-5 rounded border-0 text-light" style="background: var(--main); width: max-content">أضافة</button>
</div>