<div id="updatePatientVisitFormId" class="form bg-light rounded-3 d-flex gap-3 flex-column p-5 d-none" style="border: 2px solid var(--main)">
    <span id="closeUpdatePatientVisitFormId" class="text-danger fw-bold fs-4 pointer" style="position: absolute; top: 5px; right: 20px">x</span>
    <h3 class="text-center">تعديل بيانات زيارة</h3>

    <div class="d-flex flex-column gap-1">
        <label for="updateVisitOpenionInputId" style="color: var(--sub)">التشخيص *</label>
        <input id="updateVisitOpenionInputId" type="text" class="px-1 bg-transparent text-dark" style="border-bottom: 2px solid var(--main)" />
    </div>

    <div class="d-flex flex-column gap-1">
        <label for="updateVisitTypeSelectId" style="color: var(--sub)">العيادة *</label>
        <select id="updateVisitTypeSelectId" type="date" class="px-1 bg-transparent text-dark" style="border-bottom: 2px solid var(--main); outline: none"></select>
    </div>

    <div class="d-flex flex-column gap-1">
        <label for="updateVisitSpecialSelectId" style="color: var(--sub)">التخصص *</label>
        <select id="updateVisitSpecialSelectId" type="date" class="px-1 bg-transparent text-dark" style="border-bottom: 2px solid var(--main); outline: none"></select>
    </div>

    <div class="d-flex flex-column gap-1">
        <label for="updateVisitTimestampInputId" style="color: var(--sub)">تاريخ الزيارة *</label>
        <input id="updateVisitTimestampInputId" type="datetime-local" class="px-1 bg-transparent text-dark" style="border-bottom: 2px solid var(--main)" />
    </div>

    <div class="d-flex flex-column gap-1">
        <label for="updateVisitSecondVisitAtInputId" style="color: var(--sub)">تاريخ زيارة اخري</label>
        <input id="updateVisitSecondVisitAtInputId" type="date" class="px-1 bg-transparent text-dark" style="border-bottom: 2px solid var(--main)" />
    </div>

    <div class="d-flex flex-column gap-1">
        <label for="updateVisitDoctorNameInputId" style="color: var(--sub)">الطبيب المشخص</label>
        <input id="updateVisitDoctorNameInputId" type="text" class="px-1 bg-transparent text-dark" style="border-bottom: 2px solid var(--main)" />
    </div>

    <span id="updateVisitIdSpanId" class="d-none"></span>
    <button id="submitUpdateVisitButtonId" class="fw-bold py-2 fs-5 mx-auto mt-3 px-5 rounded border-0 text-light" style="background: var(--main); width: max-content">حفظ</button>
</div>